<fieldset>
  <legend>Create user</legend>

  <button type="submit" class="login__facebook-button js-login__facebook-button">Signup with Facebook</button>

  <form action="/api/signup/manual" method="POST">
    <input type="text" name="first_name" value="Daniel"><br>
    <input type="text" name="last_name" value="Williams"><br>
    <input type="text" name="username" value="mail@danielwilliams.dk"><br>
    <input type="password" name="password" value="password123"><br>
    <button type="submit">Opret bruger</button>
  </form>
</fieldset>