List of users
<strong>{{ userCount }}</strong>
<ul>
    {{#each users}}
    <li>
        <span>{{#if isStaff}}[STAFF]{{/if}}</span>
        <a href="/user/{{ _id }}">{{ firstName }} {{ lastName }}</a>
    </li>
    {{/each}}
</ul>