{{#if isLoggedIn}}
    Hello "{{ user.firstName }} {{ user.lastName }}"
    <button class="js-account__logout-button">Log out</button>

    {{#unless user.facebookId}}
        <button class="js-account__facebook-button" data-username="{{ user.username }}">Add Facebook Account</button>
    {{/unless}}
{{else}}
    <button type="submit" class="login__facebook-button js-login__facebook-button">Login with Facebook</button>

    <br><br>

    <form action="/authenticate/manual" method="POST">
        <input type="hidden" name="redirect" value="/">

        <input type="text" name="username" value="mail@danielwilliams.dk"><br>
        <input type="password" name="password" value="password123"><br>
        <button type="submit">Login</button>
    </form>

    <br><br>

    <a href="/bruger/opret">Sign up</a>
    <a href="/bruger/glemt">Forgot password?</a>
{{/if}}