<form action="/api/auth/facebook" method="POST">
  <input type="hidden" name="email" value="rofistick@gmail.com">
  <input type="hidden" name="token" value="token-goes-here">
  <button type="submit">Forts&aelig;t med Facebook</button>
</form>

<br><br>

<form action="/api/auth/manual" method="POST">
  <input type="text" name="username" value="mail@danielwilliams.dk"><br>
  <input type="password" name="password" value="password123"><br>
  <button type="submit">Log ind</button>
</form>

<br><br>

<a href="/bruger/opret">Opret bruger</a>
<a href="/bruger/glemt">Glemt kodeord?</a>