<!DOCTYPE html>
<html manifest="/app_cache.manifest">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>{{ meta.title }}</title>
</head>
<body>
  <a class="logo" href="/">
    <img class="logo-src" src="/images/logo.png" alt="Logo">
  </a>
	{{{ body }}}

  <script type="text/javascript" src="/javascripts/lib/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/lib/handlebars.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>